<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Node Import Export</title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/fontawesome.css" /> 
	</head>
	<body>
		<div class="container">
			<div class='align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm text-center'>
				<a class="text-decoration-none" href="/">
					<h5 class='my-0 mr-md-auto font-weight-normal text-dark'>Node Excel CSV</h5>
				</a>
			</div>
			{{{body}}}
		</div>   
	</body>
</html> 